In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
flats = pd.read_csv('../gurgaon_data/flats_cleaned.csv')
houses = pd.read_csv('../gurgaon_data/house_cleaned.csv')

In [4]:
flats.sample(2)

,property_name,property_type,society,price,area,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2964,3 BHK Flat in Sector 43 Gurgaon,flat,sanskriti apartments,2.5,1850.0,13513.0,Super Built up area 1850(171.87 sq.m.),3,2,3,study room,"B-505, Sector 43 Gurgaon, Gurgaon, Haryana",5.0,East,10+ Year Old,"['Huda city centre metro station', 'Hanuman Ma...",Residential apartment for sell.Located in sect...,"['1 Wardrobe', '1 Modular Kitchen', 'No AC', '...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
1127,2 BHK Flat in Sohna,flat,ashiana mulberry,0.9,1465.0,6143.0,Super Built up area 1465(136.1 sq.m.)Built Up ...,2,2,3+,study room,"Tower 3-601, Sohna, Gurgaon, Haryana",7.0,North-East,5 to 10 Year Old,"['Discount Department Store', 'Badshahpur Sohn...",This property is having one of the best locati...,"['2 Wardrobe', '1 Exhaust Fan', '4 Light', '1 ...","['Water purifier', 'Security / Fire Alarm', 'F...","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [5]:
houses.sample(2)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
76,4 Bedroom House for sale in Sector 109 Gurgaon,house,international city by sobha phase 1,5.7,10556.0,5400.0,Plot area 600(501.68 sq.m.),4,5,3+,"study room,pooja room,servant room,store room","1231231, Sector 109 Gurgaon, Gurgaon, Haryana",3.0,East,1 to 5 Year Old,"['Dwarka sector 21 metro station', 'Pacific D2...",Sobha international city is a project by sobha...,"['8 Wardrobe', '11 Light', '1 Modular Kitchen'...","['Water purifier', 'Centrally Air Conditioned'...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
413,2 Bedroom House for sale in Palam Vihar Extension,house,independent,0.4,7619.0,525.0,Carpet area: 525 (48.77 sq.m.),2,2,1,not available,"Palam Vihar Extension, Palam Vihar Extension, ...",1.0,NaN,1 to 5 Year Old,NaN,Best in class property available at palam viha...,"['1 Fan', '1 Light', '1 Wardrobe', 'No AC', 'N...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [6]:
df = pd.concat([flats,houses], ignore_index=True)

In [7]:
df.shape

(3960, 20)

- The code df.sample(df.shape[0], ignore_index=True) is used to randomly shuffle the rows of a DataFrame
- df.shape[0]: This gets the number of rows in the DataFrame df. For example, if df has 100 rows, df.shape[0] will return 100.

- df.sample(df.shape[0], ignore_index=True):

- df.sample(df.shape[0]): This randomly samples all rows of the DataFrame (i.e., the entire DataFrame) in a shuffled order.
- ignore_index=True: This resets the index of the shuffled DataFrame so that it starts from 0 without retaining the original index.
This results in a shuffled version of the DataFrame with the row indices reset.

In [8]:
df = df.sample(df.shape[0],ignore_index=True)

In [12]:
df.to_csv('../gurgaon_data/gurgaon_flats_houses.csv',index=False)

In [16]:
df.sample(df.shape[1]).sample(5)

,property_name,property_type,society,price,area,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
3487,2 BHK Flat in Sector 92 Gurgaon,flat,gls avenue 51,0.42,591.0,7106.0,Carpet area: 591 (54.91 sq.m.),2,2,1,"pooja room,study room","Sector 92 Gurgaon, Gurgaon, Haryana",4.0,East,1 to 5 Year Old,"['Yaduvanshi Shiksha Niketan Sector- 92', 'Aar...",East facing property with great view,"['1 Fan', '1 Exhaust Fan', '2 Geyser', '1 Ligh...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment5 out of 5', 'Safety3 out of 5', ..."
2974,5 Bedroom House for sale in Sector 14 Gurgaon,house,independent,6.46,3420.0,18889.0,Plot area 380(317.73 sq.m.)Built Up area: 380 ...,5,5,2,"pooja room,study room,servant room","0001725, Sector 14 Gurgaon, Gurgaon, Haryana",3.0,East,5 to 10 Year Old,"['Sheetla Mata Mandir', 'Hsbc bank ATM', 'Hdfc...",House for sale plot size 380 sqyard 2 story ho...,"['5 Wardrobe', '10 Fan', '1 Exhaust Fan', '6 G...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2279,5 Bedroom House for sale in Sector 28 Gurgaon,house,suncity essel towers,8.95,5000.0,17900.0,Plot area 5000(464.52 sq.m.),5,6,3+,not available,"Sector 28 Gurgaon, Gurgaon, Haryana",4.0,NaN,5 to 10 Year Old,"['Iffco chowk metro station', 'Mg road metro s...","East entry vastu perfect\nLot of daylight, no ...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle5 out of 5..."
3105,3 BHK Flat in Sector 108 Gurgaon,flat,sobha city,2.45,1745.0,14040.0,Super Built up area 1745(162.12 sq.m.)Built Up...,3,3,3,not available,"Sector 108 Gurgaon, Gurgaon, Haryana",15.0,West,1 to 5 Year Old,"['Dwarka Sector 21', 'Dwarka Expressway', 'Vas...",Check out this 3 bhk apartment for sale in sob...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Lifestyle4.5 out of..."
654,2 BHK Flat in Sector 84 Gurgaon,flat,alpha corp gurgaonone,1.15,1534.0,7496.0,Super Built up area 1534(142.51 sq.m.)Carpet a...,2,2,3,study room,"Sector 84 Gurgaon, Gurgaon, Haryana",8.0,North-East,1 to 5 Year Old,"['Delhi Public School', 'Raheja Market', 'Sapp...",This beautiful 2 bhk flat in sector 84 gurgaon...,"['4 Fan', '1 Exhaust Fan', '1 Dining Table', '...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction5 out of..."